<h1>User Articles</h1>

	<h2><%= @user.name %></h2>
	<% @user.articles.each do |article| %>
  <h2><%= link_to @user.articles, article %></h2>
  	<p><%= truncate(article.body, length: 100) %></p>
  <% end %>

